body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}

.container-fluid {
    background-color: #333;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0 20px;

}

.brand-title {
    font-size: 2rem;
    color: white;
    padding: 15px 0;
}

.brand-title:hover {
    color: red;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-links li {
    padding: 15px 20px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navbar-links a:hover {
    color: red;
}

.toggle-button {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }
}